name: CI Pipeline

on:
  push:

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup pnpm
        run: npm i -g pnpm

      - name: Install dependencies
        run: pnpm install

      - name: build
        run: pnpm build

      - name: Upload build artifact
        if: ${{ github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/heads/releases/') }}
        uses: actions/upload-artifact@v4
        with:
          name: dist-${{ github.sha }}
          path: ./dist
          retention-days: 1

  deploy:
    needs: build
    environment:
      name: github-pages
    runs-on: ubuntu-latest
    steps:
      - name: Download artifact from CI pipeline
        uses: actions/download-artifact@v4
        with:
          name: dist-${{ github.sha }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          run-id: ${{ github.run_id }}
