name: CI Pipeline

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup pnpm
        run: npm i -g pnpm

      - name: Install dependencies
        run: pnpm install

      - name: build
        run: pnpm build
